body {
  width: 60vw;
  margin: 2em auto;

  border: 1px solid black;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 1em 1em;

  box-sizing: border-box;
  background-color: #777;
}

header h1 {
  margin: 0;

  font-size: 1.5em;
  font-weight: 400;
}

.messages-container {
  margin: 1em 2em 0;
}

.messages-container ul {
  padding: 0;

  height: 20em;
  overflow: scroll;
}

.messages-container li {
  list-style: none;

  padding: 0.5rem;

  border: 1px solid black;
}

.messages-container .edit-textarea {
  list-style: none;
  resize: none;

  width: 96%;
  height: 1em;

  padding: 0.5em 0.5rem;
  margin: 0;

  font-size: 1.5em;

  border: 1px solid black;
}

.messages-container input {
  text-decoration: none;
  padding: 0.3em;
  margin: 0;
  border-radius: 0;
}

.messages-container .buttons {
  display: flex;
  justify-content: flex-end;
}

.message {
  margin-bottom: 0.5em;
}

.buttons button {
  padding: 0.3em 0.5em;
}

.edit-button {
  background-color: #f5851c;

  border-color: #c97527;
}

.delete-button {
  background-color: #ff3410;

  border-color: #df2d0e;
}

.confirm-button {
  background-color: #00db00;

  border-color: #1add1a;
}

.send-messages {
  display: flex;
  justify-content: center;

  margin: 1em 5em 0;

  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: black;

  background-color: #777;
}

.send-messages textarea {
  resize: none;

  width: 100%;
  margin: 0.5em;

  border-radius: 0.3em;

  border: 1px solid black;
}

.send-messages input {
  height: 3em;

  padding: 0 2em;
  margin: 0.5em 0.5em 0 0;

  background-color: #0066cc;

  border-radius: 0.5em;
  border-color: #0f76cc;

  color: white;
}

@media only screen and (min-width: 1400px) {
  body {
    width: 40vw;
  }
}
